body {
  background-color: skyblue;
}

.memo {
  border: 1px solid black;
  display: inline-block;
  padding: 1rem;
  box-shadow: 0 0 5px black;
  margin: 0.5rem;
}

.memo .title {
  font-weight: bold;
}
